.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/img/header-image.jpg');
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.figure{
    margin-top: 10vh;
}